<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FOODKA会员管理系统</title>

    <link rel="stylesheet" href="../assets/css/login.css"/>
    <link rel="stylesheet" href="../assets/css/element-ui/index.css"/>
    <link rel="stylesheet" href="../../assets/css/goods.css" >
    <script src="../assets/js/vue.js"></script>
    <script src="../assets/css/element-ui/index.js"></script>
    <script src="../assets/js/vue-resource.js"></script>
    <script src="../assets/js/axios.min.js"></script>
    <title>用户信息管理</title>
</head>
<style>

</style>

<body>
<div id="app">
    <template>
        <el-table
                :data="tableData"
                style="width:100%"
                max-height="80%">
            <el-table-column
                    fixed
                    prop="admin_id"
                    label="ID"
                    width="150">
            </el-table-column>
            <el-table-column
                    prop="username"
                    label="用户名"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="password"
                    label="密码"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="admin_name"
                    label="姓名"
                    width="120">
            </el-table-column>
            <el-table-column
                    prop="admin_phone"
                    label="联系方式"
                    width="200">
            </el-table-column>
            <el-table-column
                    prop="admin_email"
                    label="邮箱"
                    width="300">
            </el-table-column>
            <el-table-column
                    fixed="right"
                    label="操作"
                    width="180">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click=" dialogFormVisible = true,handleEdit(scope.$index, scope.row)">Edit</el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            @click.native.prevent="deleteRow(scope.$index, tableData)">Delete</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-dialog title="会员信息编辑" :visible.sync="dialogFormVisible">
            <el-form :model="form">
                <el-form-item label="用户名" :label-width="formLabelWidth">
                    <el-input v-model="form.username" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" :label-width="formLabelWidth">
                    <el-input v-model="form.password" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="姓名" :label-width="formLabelWidth">
                    <el-input v-model="form.admin_name" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="联系方式" :label-width="formLabelWidth">
                    <el-input v-model="form.admin_phone" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="邮箱" :label-width="formLabelWidth">
                    <el-input v-model="form.admin_email" autocomplete="off"></el-input>
                </el-form-item>

            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="dialogFormVisible = false">提交</el-button>
            </div>
        </el-dialog>
    </template>
</div>

</body>
<script>
    new Vue({
            el: '#app',
            data() {
                return {
                    tableData: [{
                        admin_id: '01',
                        username: 'LDD',
                        password: '54321',
                        admin_name: '李禹达',
                        admin_phone: '123123',
                        admin_email:'gst@qq.com',

                    }, {
                        admin_id: '02',
                        username: 'LDD1',
                        password: '54321',
                        admin_name: '李禹达ab',
                        admin_phone: '123123123',
                        admin_email:'ldd@qq.com',

                    },
                    ],
                    dialogFormVisible: false,
                    form: {
                        username: '',
                        password: '',
                        admin_name:'',
                        admin_phone:'',
                        admin_email:'',
                        delivery: false,
                        type: [],
                        resource: '',
                        desc: ''
                    },
                    formLabelWidth: '120px'
                }
            },
            methods: {
                handleEdit(index, row) {
                    console.log(index, row);
                },
                deleteRow(index, rows) {
                    rows.splice(index, 1);
                }
            }
        }
    )
</script>
</html>