<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="../../assets/css/login.css"/>
    <link rel="stylesheet" href="../../assets/css/element-ui/index.css"/>
    <link rel="stylesheet" href="../../assets/css/goods.css" >
    <script src="../../assets/js/vue.js"></script>
    <script src="../../assets/css/element-ui/index.js"></script>
    <script src="../../assets/js/vue-resource.js"></script>
    <script src="../../assets/js/axios.min.js"></script>
    <title>公告发布界面</title>
</head>


<body>
<div id="app">
    <template>

        <h1 style="text-align: center;margin-bottom: 5%">公告信息栏</h1>
        <span>公告内容</span>
        <div style="width: 30%;">

            <el-input v-model="add.info"  placeholder="请输入公告内容"></el-input>

        </div>
        <template>
            <div class="block">
                <span class="demonstration">发布时间</span>
                <div>
                <el-date-picker
                        v-model="add.createTime"
                        type="datetime"
                        placeholder="选择日期">
                </el-date-picker>
                    <el-button
                            size="larger"
                            @click="submitf" style="background-color:lightskyblue" round>发布公告</el-button>
                </div>
            </div>
        </template>


        <div style="width: 20%;text-align:center;">
        </div>
        <el-card>
            <el-table :data="listData" stripe style="width: 100%; " >
                <el-table-column prop="bulletinId" label="公告Id" width="180">
                </el-table-column>
                <el-table-column prop="info" label="公告内容" width="580">
                </el-table-column>
                <el-table-column prop="createTime" label="发布时间">
                </el-table-column>
                <el-table-column label="操作" width="250" style="display: flex;">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                type="danger"
                                plain @click="deletes(scope.row)" icon="el-icon-delete">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
        </el-card>
        <el-button-group style="margin-left: 97vh">   <!--上一页下一页格式-->
            <el-button type="info" icon="el-icon-arrow-left" @click="upt()">上一页</el-button>
            <el-button type="info"  @click="next()">下一页<i class="el-icon-arrow-right el-icon--right"></i></el-button>
        </el-button-group>

    </template>
    <div >
        <el-input  v-model="input" placeholder="请输入查询的公告内容" style="width:30% ; margin-right: 0vh; float: right;"></el-input>
        <el-button icon="el-icon-search"  size="larger"
                   @click="mohuSearch" style="margin-right: 0vh; float: right;" circle></el-button> <!--圆形搜索图标-->
    </div>
</div>



</body>
<script>


    new Vue({
            el: '#app',

            data() {
                return {
                    input:'',
                    add:{},
                    usId:'',
                    listData:[],
                    tableData:{},
                    dialogFormTitle: "",
                    value: '',
                    searchdata:{
                        info:{},
                        formData:{},
                        // listData:[]
                    },
                    tableDatas: {
                        // listdata:[],
                        formdata:{},
                        num:0,
                        total:'',
                        size:4,
                        page:0
                    },
                    FormVisible:true,
                    dialogFormVisible: false,
                    formLabelWidth: '120px',
                }
            },
            created(){
                this.getAll();
            },
            methods: {


                getAll(){
                    this.tableDatas.page =(this.tableDatas.num)*(this.tableDatas.size),
                        console.log(this.tableDatas.num);
                    axios.get("http://localhost:8080/bulletin/pages?num="+this.tableDatas.page+"&size="+this.tableDatas.size).then(res=>{
                        console.log(res.data.records);
                        // this.tableDatas.listdata=res.data.records;
                        this.listData=res.data.records;
                        this.tableDatas.total=res.data.total;
                    });
                },
                disabledDate(time) {
                    return time.getTime() > Date.now();
                },
                next(){
                    if(this.tableDatas.num<this.tableDatas.total-1){
                        this.tableDatas.num++;
                    }else
                        alert("已经是最后一页了")
                    this.getAll();
                },
                upt(){
                    if(this.tableDatas.num>0){
                        this.tableDatas.num--;
                    }else{
                        alert("已经是第一页了")
                    }
                    this.getAll();
                },
                handleEdit(index, row) {
                    axios.get("http://localhost:8080/bulletin/selectId?id="+row.bulletinId).then(rel => {
                        this.add=rel.data;

                    })
                },
                mohuSearch(){
                    axios.get("http://localhost:8080/bulletin/like?info="+this.input).then(res=>{
                        // this.searchdata.listData=res.data;
                        this.listData=res.data;
                        console.log(this.searchdata.listData)
                    });
                },
                deleteRow(index, rows) {
                    rows.splice(index, 1);
                },
                submitf() {
                    axios.post("http://localhost:8080/bulletin/save",this.add).then(rel => {
                        alert("添加成功！！");
                        this.getAll();
                    })
                },
                deletes(row){
                    console.log(row);
                    var id = row.bulletinId;
                    axios.delete("http://localhost:8080/bulletin/"+id).then(rel=>{
                        alert(rel.data);
                        this.getAll();
                    });
                },
            }
        }
    )
</script>
<p>
</p>


</html>