<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>用户密码</title>

    <link rel="stylesheet" href="../../assets/css/login.css"/>
    <link rel="stylesheet" href="../../assets/css/element-ui/index.css"/>
    <script src="../../assets/js/vue.js"></script>
    <script src="../../assets/css/element-ui/index.js"></script>
    <script src="../../assets/js/vue-resource.js"></script>
    <script src="../../assets/js/axios.min.js"></script>
</head>

<body>
<div id="app" style="width: 30%;">
   <h2> {{usName}}</h2>,你好<br>
    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="密码" prop="pass">
            <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="确认密码" prop="checkPass">
            <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">确认</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
</div>
</body>
<script>
    new Vue({
        el:"#app",
        created(){
            var usName=sessionStorage.getItem("usName");
            this.usName=usName;
            console.log("this.username:"+this.usName);
        },
        data() {
            var validatePass = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请输入密码'));
                } else {
                    if (this.ruleForm.checkPass !== '') {
                        this.$refs.ruleForm.validateField('checkPass');
                    }
                    callback();
                }
            };
            var validatePass2 = (rule, value, callback) => {
                if (value === '') {
                    callback(new Error('请再次输入密码'));
                } else if (value !== this.ruleForm.pass) {
                    callback(new Error('两次输入密码不一致!'));
                } else {
                    callback();
                }
            };
            return {
                input:'',
                ruleForm: {
                    pass: '',
                    checkPass: '',
                },
                rules: {
                    pass: [
                        { validator: validatePass, trigger: 'blur' }
                    ],
                    checkPass: [
                        { validator: validatePass2, trigger: 'blur' }
                    ],
                }
            };
        },
        methods: {
            submitForm(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        // this.usPassword="sdssd";
                        console.log(this.ruleForm.checkPass+"==="+this.usName);
                        // this.usPassword=this.ruleForm.checkPass;
                        axios.post("http://localhost:8080/admin/changePwd?username="+this.usName+"&password="+this.ruleForm.checkPass).then(res=>{
                            if(res.data.flag){
                                alert(res.data.msg);
                            }else{
                                alert(res.data.msg);
                            }
                        })
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                this.$refs[formName].resetFields();
            },

        }
    })

</script>
</html>