<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FOODKA会员管理系统</title>
    <link rel="stylesheet" href="../../assets/css/login.css"/>
    <link rel="stylesheet" href="../../assets/css/element-ui/index.css"/>
    <link rel="stylesheet" href="../../assets/css/goods.css" >
    <script src="../../assets/js/vue.js"></script>
    <script src="../../assets/css/element-ui/index.js"></script>
    <script src="../../assets/js/vue-resource.js"></script>
    <script src="../../assets/js/axios.min.js"></script>
    <title>用户信息管理</title>
</head>
<style>

</style>

<body>


<div id="app">



    <template>
        <div style="width: 30%;text-align:center; margin-top: 100px;">
            <el-input  v-model="input" placeholder="请输入用户名" > <el-button
                    size="mini"
                    slot="append"
                    style="color: #0b5ed7;"
                    @click="mohuSearch">模糊查询</el-button></el-input>
        </div>
        <el-button type="primary" plain style="margin:15px 20px;" @click="dialogFormVisible1 = true" icon="el-icon-plus">新增用户</el-button>
        <el-card>
            <el-table :data="listData" stripe style="width: 100%; " >
                <el-table-column prop="usId" label="用户Id" width="180">
                </el-table-column>
                <el-table-column prop="usName" label="用户名称" width="180">
                </el-table-column>
                <el-table-column prop="usAge" label="年龄">
                </el-table-column>
                <el-table-column prop="usPhone" label="联系电话">
                </el-table-column>
                <el-table-column label="操作" width="250" style="display: flex;">
                    <template slot-scope="scope">
                        <el-button
                                size="mini"
                                @click="dialogFormVisible = true,handleEdit(scope.$index, scope.row)">编辑</el-button>
                        <el-button
                                size="mini"
                                type="danger"
                                plain @click="deletes(scope.row)" icon="el-icon-delete">删除</el-button>
                        <!--                            @click.native.prevent="deleteRow(scope.$index, tableData)">Delete</el-button>-->

                    </template>
                </el-table-column>
            </el-table>
        </el-card>
        <el-dialog title="会员信息编辑" :visible.sync="dialogFormVisible">
            <el-form :model="up">
                <el-form-item label="ID" :label-width="formLabelWidth">
                    <el-input v-model="up.usId" disabled ="true" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="姓名" :label-width="formLabelWidth">
                    <el-input v-model="up.usName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="年龄" :label-width="formLabelWidth">
                    <el-input v-model="up.usAge" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="电话" :label-width="formLabelWidth">
                    <el-input v-model="up.usPhone" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" :label-width="formLabelWidth">
                    <el-input v-model="up.usPassword" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary"  v-on:click="update()">提交</el-button>
            </div>
        </el-dialog>
        <div style="width: 100%;text-align:center" >
            <el-button
                    size="mini"
                    @click="upt()">上一页</el-button>

            <el-button
                    size="mini"
                    @click="next()">下一页</el-button>
        </div>

    </template>
    <el-dialog title="添加用户" :visible.sync="dialogFormVisible1">
        <el-form :model="add">
            <el-form-item label="用户名" :label-width="formLabelWidth">
                <div style="width: 30%;">
                    <el-input v-model="add.usName" placeholder="请输入用户名"></el-input>
                </div>
            </el-form-item>
            <el-form-item label="年龄" :label-width="formLabelWidth">
                <div style="width: 30%;">
                    <el-input  v-model="add.usAge" placeholder="请输入年龄"></el-input>
                </div>
            </el-form-item>
            <el-form-item label="联系方式" :label-width="formLabelWidth">
                <div style="width: 30%;">
                    <el-input v-model="add.usPhone" placeholder="请输入联系方式"></el-input>
                </div>
            </el-form-item>
            <el-form-item label="密码" :label-width="formLabelWidth">
                <div style="width: 30%;">
                    <el-input  v-model="add.usPassword" placeholder="请输入密码"></el-input>
                </div>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="dialogFormVisible1 = false">取 消</el-button>
            <el-button type="primary" @click="submitf() " >提交</el-button>
        </div>
    </el-dialog>
</div>

</body>
<script>

    new Vue({
            el: '#app',
            data() {
                return {
                    updata:'',
                    input:'',
                    add:{},
                    up:{},
                    usId:'',
                    listData:[],
                    tableData:{},
                    dialogFormTitle: "",
                    searchdata:{
                        info:{},
                        formData:{},
                        // listData:[]
                    },
                    tableDatas: {
                        // listdata:[],
                        formdata:{},
                        num:0,
                        usName:'',
                        total:'',
                        size:2,
                        page:0
                    },
                    FormVisible:true,
                    dialogFormVisible: false,
                    dialogFormVisible1:false,
                    formLabelWidth: '120px'
                }
            },
            created(){
                this.getAll();
            },
            methods: {

                getAll(){
                    this.tableDatas.page =(this.tableDatas.num)*(this.tableDatas.size),
                        console.log(this.tableDatas.num);
                    axios.get("http://localhost:8080/user/pages?num="+this.tableDatas.page+"&size="+this.tableDatas.size).then(res=>{
                        console.log(res.data.records);
                        // this.tableDatas.listdata=res.data.records;
                        this.listData=res.data.records;
                        this.tableDatas.total=res.data.total;
                    });
                },

                mohuSearch(){
                    axios.get("http://localhost:8080/user/like?usName="+this.input).then(res=>{
                        // this.searchdata.listData=res.data;
                        this.listData=res.data;
                        console.log(this.searchdata.listData)
                    });
                },
                next(){
                    if(this.tableDatas.page<this.tableDatas.total+1){
                        this.tableDatas.num++;
                    }else
                        alert("已经是最后一页了")
                    this.getAll();
                },
                upt(){
                    if(this.tableDatas.page>0){
                        this.tableDatas.num--;
                    }else{
                        alert("已经是第一页了")
                    }
                    this.getAll();
                },
                handleEdit(index, row) {
                    axios.get("http://localhost:8080/user/selectId?id="+row.usId).then(rel => {
                        this.up=rel.data;

                    })
                },
                deleteRow() {
                    axios.post("http://localhost:8080/user/register", this.add).then(rel => {
                        alert(rel.data);
                        this.getAll();
                    })
                },
                submitf() {
                    axios.post("http://localhost:8080/user/register", this.add).then(rel => {
                        alert("添加成功！");
                        this.dialogFormVisible1=false;
                        this.getAll();
                    })
                },
                update() {
                    axios.put("http://localhost:8080/user/update",this.up).then(rel=>{
                        alert(rel.data);
                        this.dialogFormVisible=false;
                        this.getAll();
                    })
                },
                deletes(row){
                    console.log(row);
                    var id = row.usId;
                    axios.delete("http://localhost:8080/user/"+id).then(rel=>{
                        alert(rel.data);
                        this.getAll();
                    });
                },
                search(){
                    axios.get("http://localhost:8080/user/get/"+this.add.usId).then(rel=>{
                        this.info=rel.data;
                        this.listData=rel.data;
                    })
                }
            }
        }
    )
</script>
</html>