
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>FOODKA会员管理系统</title>

    <link rel="stylesheet" href="../../assets/css/login.css"/>
    <link rel="stylesheet" href="../../assets/css/element-ui/index.css"/>
    <link rel="stylesheet" href="../../assets/css/goods.css" >
    <script src="../../assets/js/vue.js"></script>
    <script src="../../assets/css/element-ui/index.js"></script>
    <script src="../../assets/js/vue-resource.js"></script>
    <script src="../../assets/js/axios.min.js"></script>
    <title>用户信息管理</title>
</head>
<style>

</style>

<body>


<div id="app">



    <template>

        <h1 style="text-align: center;margin-bottom: 5%">用户信息管理</h1>

        <div style="width: 20%;text-align:center;">

            <el-button icon="el-icon-search"  size="mini"
                       @click="mohuSearch" style="margin-left: 17vh; float: left;" circle></el-button> <!--圆形搜索图标-->

            <el-input  v-model="input" placeholder="请输入用户名" style="margin-left: 22vh;float: left"></el-input>



        </div>


        <el-card style="width: 80%;margin: 0 auto">
            <el-table :data="listData" stripe style="width: 80%;margin:0 auto;" >
                <el-table-column prop="usId" label="用户Id" width="180">
                </el-table-column>
                <el-table-column prop="usName" label="用户名称" width="180">
                </el-table-column>
                <el-table-column prop="usAge" label="年龄">
                </el-table-column>
                <el-table-column prop="usPhone" label="联系电话">
                </el-table-column>
                <el-table-column label="操作" width="250" style=" display: flex;">
                <template slot-scope="scope">
                    <el-button
                            size="mini"
                            @click="dialogFormVisible = true , handleEdit(scope.$index, scope.row)">编辑</el-button>
                    <el-button
                            size="mini"
                            type="danger"
                            plain @click="deletes(scope.row)" icon="el-icon-delete">删除</el-button>
                </template>
                </el-table-column>
            </el-table>
        </el-card>
        <el-dialog title="会员信息编辑" :visible.sync="dialogFormVisible">
            <el-form :model="add">
                <el-form-item label="姓名" :label-width="formLabelWidth">
                    <el-input v-model="add.usName" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="年龄" :label-width="formLabelWidth">
                    <el-input v-model="add.usAge" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="电话" :label-width="formLabelWidth">
                    <el-input v-model="add.usPhone" autocomplete="off"></el-input>
                </el-form-item>
                <el-form-item label="密码" :label-width="formLabelWidth">
                    <el-input v-model="add.usPassword" autocomplete="off"></el-input>
                </el-form-item>
            </el-form>
            <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary"  v-on:click="update()">提交</el-button>
            </div>
        </el-dialog>


        <el-button-group style="margin-left: 97vh">   <!--上一页下一页格式-->
            <el-button type="info" icon="el-icon-arrow-left" @click="upt()">上一页</el-button>

            <el-button type="info"  @click="next()">下一页<i class="el-icon-arrow-right el-icon--right"></i></el-button>
        </el-button-group>

    </template>
</div>



</body>
<script>

    new Vue({
            el: '#app',

            data() {
                return {
                    input:'',
                    add:{},
                    usId:'',
                    listData:[],
                    tableData:{},
                    dialogFormTitle: "",
                    searchdata:{
                        info:{},
                        formData:{},
                        // listData:[]
                    },
                    tableDatas: {
                        // listdata:[],
                        formdata:{},
                        num:0,
                        usName:'',
                        total:'',
                        size:2,
                        page:0
                    },
                    FormVisible:true,
                    dialogFormVisible: false,
                    formLabelWidth: '120px',
                }
            },
            created(){
                this.getAll();
            },
            methods: {

                getAll(){
                    this.tableDatas.page =(this.tableDatas.num)*(this.tableDatas.size),
                        console.log(this.tableDatas.num);
                    axios.get("http://localhost:8080/user/pages?num="+this.tableDatas.page+"&size="+this.tableDatas.size).then(res=>{
                        console.log(res.data.records);
                        // this.tableDatas.listdata=res.data.records;
                        this.listData=res.data.records;
                        this.tableDatas.total=res.data.total;
                    });
                },

                mohuSearch(){
                    axios.get("http://localhost:8080/user/like?usName="+this.input).then(res=>{
                        // this.searchdata.listData=res.data;
                        this.listData=res.data;
                        console.log(this.searchdata.listData)
                    });
                },
                next(){
                    if(this.tableDatas.page<this.tableDatas.total){
                        this.tableDatas.num++;
                    }else
                        alert("已经是最后一页了")
                    this.getAll();
                },
                upt(){
                    if(this.tableDatas.page>0){
                        this.tableDatas.num--;
                    }else{
                        alert("已经是第一页了")
                    }
                    this.getAll();
                },
                handleEdit(index, row) {
                    console.log(index, row);
                },
                deleteRow(index, rows) {
                    rows.splice(index, 1);
                },
                submitf() {
                    axios.post("http://localhost:8080/user/register",this.add).then(rel => {
                        alert(rel.data);
                        this.getAll();
                    })
                },
                update(row) {
                    axios.put("http://localhost:8080/user/update",this.row).then(rel=>{
                        alert(rel.data);
                        this.getAll();
                    })
                },
                deletes(row){
                    console.log(row);
                    var id = row.usId;
                    axios.delete("http://localhost:8080/user/"+id).then(rel=>{
                        alert(rel.data);
                        this.getAll();
                    });
                },
                search(){
                    axios.get("http://localhost:8080/user/get/"+this.add.usId).then(rel=>{
                        this.info=rel.data;
                    })
                }
            }
        }
    )
</script>
</html>