<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>welcome</title>

    <title>FOODKA会员管理系统</title>

    <link rel="stylesheet" href="../../assets/css/login.css"/>
    <link rel="stylesheet" href="../../assets/css/element-ui/index.css"/>
    <script src="../../assets/js/vue.js"></script>
    <script src="../../assets/css/element-ui/index.js"></script>
    <script src="../../assets/js/vue-resource.js"></script>
    <script src="../../assets/js/axios.min.js"></script>
</head>
<body>
<div id="app">
    <el-container>

        <el-container>
            <!-- 主体 -->
            <el-main>
                <el-card class="box-card" style="margin-bottom: 5px;">
                    <div class="card-container">
                        <div class="admin-info">
                            <h3 style="text-align: center;">GST和他的朋友们，欢迎访问FOODKA管理系统！</h3>
                        </div>
                    </div>
                </el-card>
            </el-main>
        </el-container>
    </el-container>
    <div style="float:left; width: 800px">
        <el-calendar v-model="value">
        </el-calendar>
    </div>
    <div style="height: 100%; width:300px; float: right; ">
        <el-card>
            <div>
                <h2>系统消息</h2>
                    <div id="msgs" v-if="msgsfig" v-for="ms in msgs">
                        <el-card style="margin: 15px;">
                            <p class="title1-1-content">新通知 {{ms.msgId}}：{{ms.msgContent}}</p>
                            <el-button type="success" plain @click="msgtu(ms.msgId)" size="small"
                                       style="float: right;margin-bottom: 10px;">
                                已读</el-button>
                        </el-card>
                    </div>

            </div>
        </el-card>
    </div>
</div>
</body>

<script>
    export default {
        data() {
            return {
                value: new Date()
            }
        }
    }
</script>

<script>
    new Vue({
        el:"#app",
        data:{
            msgsfig:false,
            msgs:[],
            tiem:null,

        },

        created(){

            setInterval(this.getAll,1000);
        },
        methods:{
            msgtu(msgId){

                axios.put("http://localhost:8080/admin/putMsg?msg_id="+msgId).then(rel=>{
                    console.log('有人吗？');
                    console.log(rel.data);

                    if(rel.data){
                        this.getAll();
                    }else {
                        alert("失败");
                    }
                })
            },
            // test(){
            //     var a=0;
            //     this.tiem=setInterval(function (){
            //         a++;
            //
            //         var iamgs= document.getElementById("imgs");
            //         if(a==1){
            //             iamgs.src="../user/image/刺猬.jpg";
            //         }else if(a==2){
            //             iamgs.src="";
            //         }else{
            //             iamgs.src="../user/image/刺猬.jpg";
            //             a=0;
            //         }
            //     },500);
            // },
            getAll(){

                axios.get("http://localhost:8080/admin/msg").then(resl=>{
                    if(resl.data.length>0){
                        this.msgs=resl.data;
                        this.msgsfig=true;
                        // this.test();
                    }else{
                        this.msgsfig=false;
                        clearInterval(this.tiem);
                    }

                });
            }
        }

    });
</script>
</html>